body {
    background-color: #FFFF;
    color: #181823;
    text-align: center;
    font-family: 'Montserrat', sans-serif;

} 

/* Macrame home page*/

    /* menu section*/
    #menu{
        background-color:#181823 ;
        align-content: center;
        font-size: 1rem;
        z-index:2;
        position: -webkit-sticky;
        position: sticky;
        top: -1px;
    }

    /* title section*/

    #title{
        min-height: 100vh;
        padding-top:6%;
    }

    .title_image {
        padding-bottom: 3%;
        max-width: 70%;   
    }

    .intro{
        margin:2.5rem auto;
    }


    /*products section*/

    #products{
    background-color: #FFFBE9;
    padding: 5% 0% 4% 0%;
    min-height: 100vh;
    }

    .products-image{
        /* width: 20%; */
        max-width: 20%;
        border-radius: 10%;
        margin: 2.5rem;
    }

    .carousel-control-next-icon, .carousel-control-prev-icon, .carousel-indicators{
        filter: invert(1);
    }

    .carousel-indicators{
        bottom: -35px;
    }

    .goToGallery{
        margin-top: 5%;
        /* margin-bottom: 2%; */
        font-size:1rem;
    }
    
    .products-carousel{
        z-index:1;
    }

    /* footer section -> contact */

    #footer{
        padding: 3% 10% 3% 10%;
        background-color: #FFFF;
    }

    .icon{
        padding:3%;
    }
    

    a {
        color: inherit;
        text-decoration: none; 
    }

/* Gallery html page */


    /* .gallery-row{
        display:flex;
        flex-wrap:wrap;
        margin:0 50px;
    } */

    .gallery{
        width: 100%;
        display: block;
        min-height: 100vh;
        background-color: #ffffff;
        padding-top: 3%;
        color: black;
    }
    
/* 
    .container{
        max-width: 1170px;
        margin:auto;
    } */

    /* .gallery .gallery-filter{
        width: 100%;
        text-align: center;
    } */
    
    .gallery .gallery-filter .filter-item{
        font-size: 1rem;
        font-weight: 500;
        display: inline-block;
        margin-right: 8px;
        cursor: pointer;
        padding: 8px 20px 8px 20px;
        line-height: 1.2;
        transition: all 0.3s ease;
        margin-bottom: 3%;
        
    }

    /* .gallery .gallery-item{
        width: calc(100% / 4);
        padding: 15px;
    } */

    /* .gallery .gallery-item-inner img{
        width: 100%;
    border: 3px solid #d4dad9;
    } */

    .gallery .gallery-item.show{
        animation: fadeIn 0.5s ease;
    }

    .gallery .gallery-item.hide{
        display: none;
    }

    #photos {
        line-height: 0;
        margin: 0 5%;
        -webkit-column-count: 4;
        -moz-column-count:    4;
        column-count:         4;
    }

    #photos img {
        width: 100%;
        height: auto;
        padding:2% 0 2% 0;
        cursor: pointer;
    }
    
    @media (max-width: 1200px) {
        #photos {
        -moz-column-count:    4;
        -webkit-column-count: 4;
        column-count:         4;
        }
    }
    @media (max-width: 1000px) {
        #photos {
        -moz-column-count:    3;
        -webkit-column-count: 3;
        column-count:         3;
        }
    }
    @media (max-width: 800px) {
        #photos {
        -moz-column-count:    2;
        -webkit-column-count: 2;
        column-count:         2;
        }
    }
    @media (max-width: 400px) {
        #photos {
        -moz-column-count:    1;
        -webkit-column-count: 1;
        column-count:         1;
        }
    }


    .full-img{
        width:100%;
        height:100vh;
        background: rgba(0,0,0,0.9);
        position: fixed;
        top: 0;
        left: 0;
        display:none;
        align-items: center;
        justify-content: center;
      }
      
      .full-img img{
        width: 90%;
        max-width: 500px;
      
      }
      
      .full-img span{
        position: absolute;
        color:white;
        right: 5%;
        font-size: 30px;
        top: 5%;
        cursor: pointer;
        font-family: sans-serif;
      }
 

/* About me page */

    .profile-picture{
        width: 100%;
        padding-bottom: 10%;
    }

    #about-me{
        padding: 3% 10% 3% 10%;
        text-align: justify;
        
    }



